build/
CMakeUserPresets.json
.qt/
.vs/
.idea/
*.user
*.autosave
CMakeCache.txt
CMakeFiles/
cmake-build-*/
compile_commands.json
.DS_Store
Thumbs.db
*.obj
*.exe
*.dll
*.pdb
_layout_preview.jpg
_char_preview/

dist/
*.zip

